footer {
  position: relative;
  background-color: #fff;

  .footing {
    position: relative;
    z-index: 2;
    padding-top: 96px;

    .start_ex,
    .support,
    .about_us,
    .newsletter {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-basis: 230px;
    }

    .support h3,
    .about_us h3,
    .newsletter h3 {
      color: #282828;
      font-size: 22px;
      font-weight: 500;
    }

    .support a,
    .about_us a {
      opacity: 0.66;
      color: #282828;
      font-size: 14px;
      font-weight: 400;
      margin-top: 12px;
    }

    .start_ex {
      margin-right: 67px;

      h3 {
        display: flex;
        color: #2c2f49;
        font-size: 27px;
        font-weight: 400;
        margin-bottom: 10px;

        .start_red {
          display: block;
          width: 45px;
          height: 48px;
          background: url("../image/footer/ex.png")center/cover;
          margin-left: 5px;
          margin-top: -8px;
          padding-top: 9px;
          padding-left: 2px;

          span {
            color: #fff;
          }
        }
      }

      p {
        opacity: 0.56;
        color: #282828;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px;
      }
    }

    .support {
      margin-right: -24px;

      h3 {
        margin-bottom: 20px;
      }
    }

    .about_us {
      margin-right: -30px;

      h3 {
        margin-bottom: 20px;
      }
    }

    .newsletter {
      margin-bottom: 60px;

      h3 {
        margin-bottom: 30px;
      }

      .msg {
        color: rgba(0, 0, 0, 0.4);
        margin-bottom: 21px;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 3px;
        background-color: #f6f6f6;

        input {

          padding: 13px 29px;
          font-size: 16px;
          font-weight: 400;

          &[type="text"]::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.4);
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 52px;
          height: 49px;
          border-radius: 3px;
          background-color: #ff6d6d;
          box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);





          &:before {
            content: "";
            display: block;
            width: 22px;
            height: 22px;
            background: url("../image/footer/msg.png") center/cover;
          }
        }

      }

      .social_network {
        display: flex;
        justify-content: space-around;
        padding: 0 40px;
        height: 30px;

        span {
          display: block;
          filter: grayscale(100%);
        }

        .drib {
          width: 20px;
          height: 21px;
          background: url("../image/footer/drib.png")center/cover;
        }

        .facebook {
          width: 11px;
          height: 21px;
          background: url("../image/footer/facebook.png")center/cover;
        }

        .googleplus {
          width: 20px;
          height: 17px;
          background: url("../image/footer/googleplus.png")center/cover;
        }

        .twitter {
          width: 19px;
          height: 17px;
          background: url("../image/footer/twitter.png")center/cover;
        }
      }
    }
  }

  .footer_red {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 370px;
    background-image: linear-gradient(-135deg, #F57272 50%, #fff 50%);
  }

  @media screen and (max-width:768px) {

    .footer_red {
      display: none;
    }

    .footing {
      flex-wrap: wrap;
      justify-content: center;

      .start_ex {
        h3 {
          font-size: 30px;
        }

        p {
          font-size: 14px;
        }

      }

      .support,
      .about_us,
      .newsletter {
        margin-top: 10px;

        h3 {
          font-size: 24px;
        }

        a {
          font-size: 18px;
        }

      }

      .newsletter {
        margin-top: 25px;
      }
    }

  }

  @media screen and (max-width: 400px) {
    .footer_red {
      display: none;
    }

    .footing {
      flex-wrap: wrap;
      justify-content: center;

      .support,
      .about_us,
      .newsletter {
        h3 {
          margin-top: 20px;
        }

      }
    }
  }
}