header {
  background: url("../image/header/header_bckgr.jpg") center/cover;
  padding: 225px 0 229px;
  height: 100vh;

  div {
    flex-direction: column;
    align-items: center;

    h1 {
      color: #282828;
      font-size: 60px;
      line-height: 75px;
      letter-spacing: 2.4px;
      margin-bottom: 43px;
      text-align: center;
    }

    .play {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 59px;
      height: 59px;
      background-color: #8286a3;
      border-radius: 50%;
      margin-bottom: 39px;

      span {
        display: block;
        width: 17px;
        height: 19px;
        background: url("../image/header/play_button.png") center/cover;
      }
    }

    .now {
      color: #fff;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 18px 53px 20px 50px;
      background-color: #ff6d6d;
      border-radius: 3px;
      margin-bottom: 19px;
    }

    .cards {
      font-size: 14px;
      font-weight: 400;
      color: #282828;
      opacity: 0.6;
    }
  }

  @media screen and(max-width:768px and(min-width:320px) {
    div {
      .now {
        font-size: 20px;
      }

      .cards {
        font-size: 18px;
      }
    }
  }

  @media screen and(min-width:320px) {
    padding-top: 70px;

    div {
      h1 {
        font-size: 40px;
        line-height: 50px;
      }

      .cards {
        opacity: 1;
      }
    }
  }
}
