.mac {
  position: relative;
  background-color: #fff;

  .mac_red {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    background-image: linear-gradient(45deg, #F57272 50%, #fff 50%);
  }

  div:nth-child(2) {
    position: relative;
    z-index: 3;
    padding: 91px 0;

    .macb {
      position: relative;
      align-self: center;
      z-index: 1;
      display: block;
      width: 640px;
      height: 353px;
      background: url("../image/mac/mac.png")center/cover;
    }

    .just {
      position: relative;
      z-index: 1;
      padding: 40px 0 0 20px;

      p {
        max-width: 492px;
      }
    }
  }

  @media screen and (max-width:768px) {
    div:nth-child(2) .macb {
      align-self: center;
      width: 563px;
      height: 230px;
      margin-right: 15px;
    }

    .just {
      p {
        font-size: 21px;
      }
    }
  }

  @media screen and(max-width:400px) {

    >div:nth-child(2) {
      flex-direction: column;

      .macb {
        width: 100%;
        height: 180px;
        margin: 0;
      }

      .just {
        text-align: center;
      }
    }
  }
}