.new_desing {
  background-color: #fff;
  position: relative;

  >div {
    flex-direction: column;
    padding: 191px 0 166px;

    .platforms {

      span {
        color: #ff6d6d;
      }
    }

    p {
      width: 100%;
      max-width: 571px;
    }
  }

  .triangle {
    position: absolute;
    width: 36%;
    right: 0;
    bottom: 0;
    top: 0;
    background: #ececec;
    overflow: hidden;

    .red {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 550px;
      background-image: linear-gradient(-36deg, #ff6d6d 50%, #ececec 50%);
      opacity: 0.8;
    }
  }

  @media screen and (max-width:768px) {
    >div {
      padding: 191px 15px 166px;


      .new {
        font-size: 24px;
      }

      .platforms {
        font-size: 44px;
        line-height: 50px;
        max-width: 450px;
      }

      p {
        font-size: 21px;
        line-height: 29px;
        max-width: 450px;
      }
    }

  }

  @media screen and (max-width:400px) {
    >div {
      text-align: center;

      .platforms {
        width: 100%;
      }

      p {
        width: 100%;
      }
    }

    .triangle {
      display: none;
    }
  }
}