.row {
  display: flex;
}

.col-1-4 {
  width: 25%;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.try_now {
  background-color: #323969;

  .div_into_try_now {
    padding: 98px 0 85px;
    display: block;
  }

  .try-now-title {
    text-align: center;
  }

  .over .platforms {
    color: #fff;
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .form {
    margin-bottom: 52px;
    align-items: flex-end;

    input {
      width: 100%;
      line-height: 20px;
      border-radius: 3px;
      border: 1px solid #fff;
      background-color: #454c77;
      opacity: 0.5;
      padding: 18px 29px;
      color: #f6f5f3;
    }

    input[type="text"]::-webkit-input-placeholder {
      color: #f6f5f3;
    }
  }

  .try_red {
    // display: flex;
    // flex-direction: column;
    // margin-left: 30px;

    .trial {
      color: #f6f5f3;
      text-align: center;
      padding-bottom: 25px;
      margin-bottom: 15px;
      background: url("../image/try_now/arrow.png") left bottom / 56px 41px no-repeat;
    }

    .try-now-button {
      display: block;
      width: 100%;
      color: #f6f5f3;
      font-size: $text_size;
      font-weight: 400;
      padding: 20px;
      border-radius: 3px;
      border: 1px solid #ff6d6d;
      background-color: #ff6d6d;
      text-transform: uppercase;
      box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
    }
  }

  .services {
    text-align: center;
    color: rgba(246, 245, 243, 0.6);
    font-size: $text_size;
    font-weight: 400;
    letter-spacing: 0.64px;

    a {
      text-decoration: underline;
      color: inherit;
    }
  }

  @media screen and (max-width: 768px) {
    .col-1-4 {
      width: 90%;
    }

    .form {
      flex-direction: column;
      align-items: center;
    }

    .try_red {
      margin-top: 25px;
      width: 40%;

      .trial {
        align-items: center;
      }
    }

    .services {
      font-size: 18px;
    }
  }

  @media screen and (max-width: 400px) {
    .form {
      input {
        width: 100%;
      }
    }

    .try_red {
      width: 100%;
      margin: 20px 0;
    }
  }
}