$new_h2_size: 16px;

$new_h2_color:#ff6d6d;

$new_h3_size:40px;

$text_color:#282828;

$text_size: 16px;

$p_color_clients:#ffffff;

$text_doe_size:22px;

$text_doe_color:#ffffff;

$founder_size:16px;

$founder_color:#ff6d6d;

$opacity_text: 0.66;