.browser {
  background-color: #f6f5f3;

  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 108px;

    .some {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        text-align: center;
        max-width: 647px;
      }
    }

    .mac_window {
      position: relative;
      width: 100%;
      max-width: 820px;
      height: 375px;
      background: url("../image/window/window.png") center/cover;
      margin-top: 93px;

    }

  }

  @media screen and (max-width:768px) {
    .some {
      p {
        font-size: 21px;
        line-height: 26px;
      }
    }

    div .mac_window {
      max-width: 700px;
      height: 335px;
    }

  }

  @media screen and (max-width:400px) {
    >div {
      text-align: center;

      .mac_window {
        width: 100%;
        height: 125px;
      }
    }
  }
}