header {
  background: url("../image/header/header_bckgr.jpg") center/cover;
  padding: 225px 0 229px;
  height: 100vh;
}

header div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div h1 {
  color: #282828;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: 2.4px;
  margin-bottom: 43px;
  text-align: center;
}

header div .play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 59px;
  height: 59px;
  background-color: #8286a3;
  border-radius: 50%;
  margin-bottom: 39px;
}

header div .play span {
  display: block;
  width: 17px;
  height: 19px;
  background: url("../image/header/play_button.png") center/cover;
}

header div .now {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 18px 53px 20px 50px;
  background-color: #ff6d6d;
  border-radius: 3px;
  margin-bottom: 19px;
}

header div .cards {
  font-size: 14px;
  font-weight: 400;
  color: #282828;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  header div .now {
    font-size: 20px;
  }
  header div .cards {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  header {
    padding-top: 70px;
  }
  header div h1 {
    font-size: 40px;
    line-height: 50px;
  }
  header div .cards {
    opacity: 1;
  }
}

.new_desing {
  background-color: #fff;
  position: relative;
}

.new_desing > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 191px 0 166px;
}

.new_desing > div .platforms span {
  color: #ff6d6d;
}

.new_desing > div p {
  width: 100%;
  max-width: 571px;
}

.new_desing .triangle {
  position: absolute;
  width: 36%;
  right: 0;
  bottom: 0;
  top: 0;
  background: #ececec;
  overflow: hidden;
}

.new_desing .triangle .red {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 550px;
  background-image: linear-gradient(-36deg, #ff6d6d 50%, #ececec 50%);
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .new_desing > div {
    padding: 191px 15px 166px;
  }
  .new_desing > div .new {
    font-size: 24px;
  }
  .new_desing > div .platforms {
    font-size: 44px;
    line-height: 50px;
    max-width: 450px;
  }
  .new_desing > div p {
    font-size: 21px;
    line-height: 29px;
    max-width: 450px;
  }
}

@media screen and (max-width: 400px) {
  .new_desing > div {
    text-align: center;
  }
  .new_desing > div .platforms {
    width: 100%;
  }
  .new_desing > div p {
    width: 100%;
  }
  .new_desing .triangle {
    display: none;
  }
}

.new_features {
  background-color: #f6f5f3;
  overflow: hidden;
}

.new_features > div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.new_features > div .pen {
  position: absolute;
  left: -45px;
  top: 0;
  display: block;
  width: 291px;
  height: 314px;
  background: url("../image/new_features/pen_holder.png") center/cover;
}

.new_features > div .pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 138px;
}

.new_features > div .earphones {
  position: absolute;
  right: -35px;
  top: 0;
  display: block;
  width: 162px;
  height: 215px;
  background: url("../image/new_features/earphones.png") center/cover;
}

.new_features > div .flight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 91px;
  margin-bottom: 184px;
}

.new_features > div .flight > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.new_features > div .flight > div span {
  display: block;
  width: 65px;
  height: 65px;
  margin-bottom: 30px;
}

.new_features > div .flight > div h4 {
  color: #282828;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 19px;
}

.new_features > div .flight > div p {
  color: #282828;
  opacity: 0.66;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.new_features > div .flight > div .picture {
  background: url("../image/new_features/picture.png") center/cover;
}

.new_features > div .flight > div .airplane {
  background: url("../image/new_features/airplane.png") center/cover;
}

.new_features > div .flight > div .lightbulb {
  background: url("../image/new_features/bulb.png") center/cover;
}

.new_features > div .coffee_cup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 15px;
}

.new_features > div .coffee_cup span {
  position: absolute;
  bottom: -22px;
  right: -75px;
  display: block;
  width: 174px;
  height: 130px;
  background: url("../image/new_features/Cup.png") center/cover;
}

@media screen and (max-width: 768px) {
  .new_features > div .pen {
    left: -100px;
  }
  .new_features > div .new {
    font-size: 24px;
  }
  .new_features > div .platforms {
    font-size: 44px;
  }
  .new_features > div .flight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .new_features > div .flight .airplane {
    margin-top: 30px;
  }
  .new_features > div .flight .lightbulb {
    margin-top: 30px;
  }
  .new_features > div .flight div h4 {
    font-size: 28px;
  }
  .new_features > div .flight div p {
    font-size: 20px;
  }
  .new_features > div .coffee_cup span {
    bottom: -24px;
    right: -35px;
  }
}

@media screen and (max-width: 400px) {
  .new_features > div .pen {
    left: -180px;
    top: -50px;
  }
  .new_features > div .earphones {
    top: -85px;
  }
  .new_features > div .flight > div {
    width: 100%;
  }
}

.mac {
  position: relative;
  background-color: #fff;
}

.mac .mac_red {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
  background-image: linear-gradient(45deg, #F57272 50%, #fff 50%);
}

.mac div:nth-child(2) {
  position: relative;
  z-index: 3;
  padding: 91px 0;
}

.mac div:nth-child(2) .macb {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1;
  display: block;
  width: 640px;
  height: 353px;
  background: url("../image/mac/mac.png") center/cover;
}

.mac div:nth-child(2) .just {
  position: relative;
  z-index: 1;
  padding: 40px 0 0 20px;
}

.mac div:nth-child(2) .just p {
  max-width: 492px;
}

@media screen and (max-width: 768px) {
  .mac div:nth-child(2) .macb {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 563px;
    height: 230px;
    margin-right: 15px;
  }
  .mac .just p {
    font-size: 21px;
  }
}

@media screen and (max-width: 400px) {
  .mac > div:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mac > div:nth-child(2) .macb {
    width: 100%;
    height: 180px;
    margin: 0;
  }
  .mac > div:nth-child(2) .just {
    text-align: center;
  }
}

.clients {
  background: url("../image/clients/clients_bckgr.jpg") center/cover;
  background-color: rgba(0, 0, 0, 0.6);
}

.clients > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 110px 0 90px;
}

.clients > div .client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.clients > div .client .cfounder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients > div .client .cfounder span {
  width: 76px;
  height: 76px;
  border: 2px solid #1d1e24;
  background-color: #4e4e5e;
  margin-bottom: 26px;
}

.clients > div .client .cfounder h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 12px;
}

.clients > div .client .cfounder h4 {
  color: #ff6d6d;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 37px;
}

.clients > div .client .cfounder p {
  opacity: 0.66;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 26px;
}

.clients > div .partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients > div .partner span {
  display: block;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.clients > div .partner span:nth-child(1) {
  width: 135px;
  height: 65px;
  background: url("../image/clients/partner_1.png") center/cover;
}

.clients > div .partner span:nth-child(2) {
  width: 110px;
  height: 56px;
  background: url("../image/clients/partner_2.png") center/cover;
}

.clients > div .partner span:nth-child(3) {
  width: 98px;
  height: 85px;
  background: url("../image/clients/partner_3.png") center/cover;
}

.clients > div .partner span:nth-child(4) {
  width: 95px;
  height: 61px;
  background: url("../image/clients/partner_4.png") center/cover;
}

.clients > div .partner span:nth-child(5) {
  width: 120px;
  height: 54px;
  background: url("../image/clients/partner_5.png") center/cover;
}

@media screen and (max-width: 768px) {
  .clients .client {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .clients .client .cfounder {
    max-width: 400px;
  }
  .clients .client div:nth-child(2) {
    margin: 30px 0;
  }
  .clients .partner {
    padding: 0 30px;
  }
}

@media screen and (max-width: 400px) {
  .clients > div .partner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clients > div .partner span {
    margin: 10px;
  }
}

.browser {
  background-color: #f6f5f3;
}

.browser > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 108px;
}

.browser > div .some {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.browser > div .some p {
  text-align: center;
  max-width: 647px;
}

.browser > div .mac_window {
  position: relative;
  width: 100%;
  max-width: 820px;
  height: 375px;
  background: url("../image/window/window.png") center/cover;
  margin-top: 93px;
}

@media screen and (max-width: 768px) {
  .browser .some p {
    font-size: 21px;
    line-height: 26px;
  }
  .browser div .mac_window {
    max-width: 700px;
    height: 335px;
  }
}

@media screen and (max-width: 400px) {
  .browser > div {
    text-align: center;
  }
  .browser > div .mac_window {
    width: 100%;
    height: 125px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-1-4 {
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.try_now {
  background-color: #323969;
}

.try_now .div_into_try_now {
  padding: 98px 0 85px;
  display: block;
}

.try_now .try-now-title {
  text-align: center;
}

.try_now .over .platforms {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 35px;
}

.try_now .form {
  margin-bottom: 52px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.try_now .form input {
  width: 100%;
  line-height: 20px;
  border-radius: 3px;
  border: 1px solid #fff;
  background-color: #454c77;
  opacity: 0.5;
  padding: 18px 29px;
  color: #f6f5f3;
}

.try_now .form input[type="text"]::-webkit-input-placeholder {
  color: #f6f5f3;
}

.try_now .try_red .trial {
  color: #f6f5f3;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 15px;
  background: url("../image/try_now/arrow.png") left bottom/56px 41px no-repeat;
}

.try_now .try_red .try-now-button {
  display: block;
  width: 100%;
  color: #f6f5f3;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #ff6d6d;
  background-color: #ff6d6d;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
          box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
}

.try_now .services {
  text-align: center;
  color: rgba(246, 245, 243, 0.6);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
}

.try_now .services a {
  text-decoration: underline;
  color: inherit;
}

@media screen and (max-width: 768px) {
  .try_now .col-1-4 {
    width: 90%;
  }
  .try_now .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .try_now .try_red {
    margin-top: 25px;
    width: 40%;
  }
  .try_now .try_red .trial {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .try_now .services {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .try_now .form input {
    width: 100%;
  }
  .try_now .try_red {
    width: 100%;
    margin: 20px 0;
  }
}

footer {
  position: relative;
  background-color: #fff;
}

footer .footing {
  position: relative;
  z-index: 2;
  padding-top: 96px;
}

footer .footing .start_ex,
footer .footing .support,
footer .footing .about_us,
footer .footing .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 230px;
      flex-basis: 230px;
}

footer .footing .support h3,
footer .footing .about_us h3,
footer .footing .newsletter h3 {
  color: #282828;
  font-size: 22px;
  font-weight: 500;
}

footer .footing .support a,
footer .footing .about_us a {
  opacity: 0.66;
  color: #282828;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
}

footer .footing .start_ex {
  margin-right: 67px;
}

footer .footing .start_ex h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2c2f49;
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 10px;
}

footer .footing .start_ex h3 .start_red {
  display: block;
  width: 45px;
  height: 48px;
  background: url("../image/footer/ex.png") center/cover;
  margin-left: 5px;
  margin-top: -8px;
  padding-top: 9px;
  padding-left: 2px;
}

footer .footing .start_ex h3 .start_red span {
  color: #fff;
}

footer .footing .start_ex p {
  opacity: 0.56;
  color: #282828;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

footer .footing .support {
  margin-right: -24px;
}

footer .footing .support h3 {
  margin-bottom: 20px;
}

footer .footing .about_us {
  margin-right: -30px;
}

footer .footing .about_us h3 {
  margin-bottom: 20px;
}

footer .footing .newsletter {
  margin-bottom: 60px;
}

footer .footing .newsletter h3 {
  margin-bottom: 30px;
}

footer .footing .newsletter .msg {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background-color: #f6f6f6;
}

footer .footing .newsletter .msg input {
  padding: 13px 29px;
  font-size: 16px;
  font-weight: 400;
}

footer .footing .newsletter .msg input[type="text"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

footer .footing .newsletter .msg button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 49px;
  border-radius: 3px;
  background-color: #ff6d6d;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
          box-shadow: 0px 3px 3px 0px rgba(14, 15, 15, 0.25);
}

footer .footing .newsletter .msg button:before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: url("../image/footer/msg.png") center/cover;
}

footer .footing .newsletter .social_network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 40px;
  height: 30px;
}

footer .footing .newsletter .social_network span {
  display: block;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

footer .footing .newsletter .social_network .drib {
  width: 20px;
  height: 21px;
  background: url("../image/footer/drib.png") center/cover;
}

footer .footing .newsletter .social_network .facebook {
  width: 11px;
  height: 21px;
  background: url("../image/footer/facebook.png") center/cover;
}

footer .footing .newsletter .social_network .googleplus {
  width: 20px;
  height: 17px;
  background: url("../image/footer/googleplus.png") center/cover;
}

footer .footing .newsletter .social_network .twitter {
  width: 19px;
  height: 17px;
  background: url("../image/footer/twitter.png") center/cover;
}

footer .footer_red {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 370px;
  background-image: linear-gradient(-135deg, #F57272 50%, #fff 50%);
}

@media screen and (max-width: 768px) {
  footer .footer_red {
    display: none;
  }
  footer .footing {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footing .start_ex h3 {
    font-size: 30px;
  }
  footer .footing .start_ex p {
    font-size: 14px;
  }
  footer .footing .support,
  footer .footing .about_us,
  footer .footing .newsletter {
    margin-top: 10px;
  }
  footer .footing .support h3,
  footer .footing .about_us h3,
  footer .footing .newsletter h3 {
    font-size: 24px;
  }
  footer .footing .support a,
  footer .footing .about_us a,
  footer .footing .newsletter a {
    font-size: 18px;
  }
  footer .footing .newsletter {
    margin-top: 25px;
  }
}

@media screen and (max-width: 400px) {
  footer .footer_red {
    display: none;
  }
  footer .footing {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footing .support h3,
  footer .footing .about_us h3,
  footer .footing .newsletter h3 {
    margin-top: 20px;
  }
}

body {
  font-family: 'Exo', sans-serif;
}

.max_width {
  position: relative;
  z-index: 3;
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new {
  font-size: 16px;
  color: #ff6d6d;
  font-weight: 500;
  margin-bottom: 16px;
}

.platforms {
  color: #282828;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 45px;
}

.cfounder {
  opacity: 0.66;
  color: #282828;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 35px;
  line-height: 26px;
}

@media screen and (max-width: 768px) {
  .max_width {
    max-width: 768px;
    padding: 0 15px;
  }
  .new {
    font-size: 24px;
  }
  .platforms {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 400px) {
  .max_width {
    max-width: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */